In [245]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [246]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
674,tt0960144,90000000,201596308,You Don't Mess With the Zohan,Adam Sandler|John Turturro|Emmanuelle Chriqui|...,Dennis Dugan,Lather. Rinse. Save the world.,An Israeli counterterrorism soldier with a sec...,113,Comedy|Action,Columbia Pictures|Happy Madison Productions|So...,6/5/2008,5.6,2008
820,tt1411704,63000000,183953723,Hop,Russell Brand|James Marsden|Kaley Cuoco|Hank A...,Tim Hill,"Candy, chicks and rock 'n' roll.","E.B., the Easter Bunny's teenage son, heads to...",95,Animation,Universal Pictures|Illumination Entertainment,3/30/2011,5.4,2011
1254,tt1893256,20000000,8352885,Redemption,Jason Statham|Agata Buzek|Vicky McClure|Lee As...,Steven Knight,All roads don't lead to salvation.,Homeless and on the run from a military court ...,100,Action|Thriller,Lionsgate,5/7/2013,5.7,2013
778,tt1657507,40000000,60965854,Colombiana,Zoe Saldana|Cliff Curtis|Callum Blue|Michael V...,Olivier Megaton,Revenge is beautiful.,"Zoe Saldana plays a young woman who, after wit...",108,Action|Thriller|Crime|Drama,TF1 Films Production|Canal+|CinÃ©CinÃ©ma|Grive...,7/27/2011,6.5,2011
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009

In [247]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [248]:
answers = {} # создадим словарь для ответов

# Adding columns with values calculated from the existing ones
data['profit']=data['revenue']-data['budget']
data['month']=data['release_date'].apply(lambda x: x[0])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [249]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# "+"

In [250]:
data.sort_values('budget', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [251]:
answers['2'] = '1157. Gods and Generals (tt0279111)'
# "+"

In [252]:
data.sort_values('runtime', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [253]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'
# "+"

In [254]:
data.sort_values('runtime', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [255]:
answers['4'] = '110 min'
# "+"

In [256]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [257]:
answers['5'] = '107'
# "+"

In [258]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [259]:
answers['6'] = '239. Avatar (tt0499549)'
# "+"

In [260]:
data.sort_values('profit', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [261]:
answers['7'] = '1245. The lone Ranger (tt1210819)'
# "+"

In [262]:
data.sort_values('profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [263]:
answers['8'] = '1478'
# "+"

In [264]:
data[data['profit'] > 0].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [265]:
answers['9'] = '599. The Dark Knight (tt0468569)'
# "+"

In [266]:
data[data['release_year'] == 2008].sort_values('profit', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [267]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'
# "+"

In [268]:
data[(data['release_year'] >= 2012)&(data['release_year'] <= 2014)].sort_values('profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [269]:
answers['11'] = 'Drama'
# "+"

In [270]:
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
Counter(data.explode('genres')['genres']).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [319]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget']
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
def genres_count(a):
    for i in a:
        if i in genres_dict:
            genres_dict[i] += 1
        else:
            genres_dict[i] = 1
    return genres_dict
genres_dict = {}
data['genres'].apply(genres_count)
genres_series = pd.Series(genres_dict).sort_values(ascending=False)
print(genres_series)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [272]:
answers['12'] = 'Drama'
# "+"

In [273]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget']
data_genres = data[data.profit > 0]
collections.Counter(data_genres.genres.str.cat(sep = '|').split('|')).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [274]:
answers['13'] = 'Peter Jackson'
# "+"

In [276]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget']
pivot = data.pivot_table(columns='director', index='release_year', values='revenue', aggfunc='sum',fill_value=0)
pivot.sum().sort_values(ascending=False).index[0]

'Peter Jackson'

ВАРИАНТ 2

In [277]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget']
data['director'] = data['director'].apply(lambda x: x.split('|'))
data = data.explode('director')
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [278]:
answers['14'] = 'Robert Rodriguez'
# "+"

In [279]:
data2 = data[data.genres.str.contains('Action', na = False)]
collections.Counter(data2['director'].str.cat(sep = '|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [280]:
answers['15'] = 'Chris Hemsworth '
# "+"

In [281]:
data = pd.read_csv('movie_bd_v5.csv')
data2 = data[(data.release_year == 2012)]
data3 = data2[(data2.revenue > data2.revenue.mean())]
collections.Counter(data3['cast'].str.cat(sep = '|').split('|')).most_common(1)

[('Chris Hemsworth', 2)]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [320]:
answers['16'] = 'Matt Damon'
# "-" Ответила изначально неправильно, тк вместо бюджета(budget) указала сборы(revenue).

In [283]:
data = pd.read_csv('movie_bd_v5.csv')
data2 = data[(data.budget > data.budget.mean())]
collections.Counter(data2['cast'].str.cat(sep = '|').split('|')).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [284]:
answers['17'] = 'Action'
# "+"

In [285]:
data = pd.read_csv('movie_bd_v5.csv')
data2 = data[data.cast.str.contains('Nicolas Cage', na = False)]
collections.Counter(data2['genres'].str.cat(sep = '|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [286]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'
# "+"

In [287]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget']
data2 = data[data.production_companies.str.contains('Paramount Pictures', na = False)]
data2.sort_values('profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [288]:
answers['19'] = '2015'
# "+"

In [289]:
data = pd.read_csv('movie_bd_v5.csv')
pivot = data.pivot_table(columns='release_year', index='director', values='revenue', aggfunc='sum',fill_value=0)
pivot.sum().sort_values(ascending=False).index[0]

2015

ВАРИАНТ 2

In [290]:
data = pd.read_csv('movie_bd_v5.csv')
data = data.explode('release_year')
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [291]:
answers['20'] = '2014'
# "+"

In [292]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget']
data2 = data[data.production_companies.str.contains('Warner Bros', na = False)]
data3 = data2.explode('release_year')
data3.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [293]:
answers['21'] = '9'
# "+"

In [294]:
data=pd.read_csv('movie_bd_v5.csv')
data['release_date']=data['release_date'].apply(lambda x: x.split('/'))
data['month']=data['release_date'].apply(lambda x:x[0])
pivot = data.pivot_table(columns='month', index='original_title', values='imdb_id', aggfunc='count',fill_value=0)
pivot.sum().sort_values(ascending=False).index[0]

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [295]:
answers['22'] = '450'
# "+"

In [296]:
data=pd.read_csv('movie_bd_v5.csv')
data['release_date']=data['release_date'].apply(lambda x: x.split('/'))
data['month']=data['release_date'].apply(lambda x: x[0])
len(data.loc[data['month'].isin(['6', '7', '8'])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [297]:
answers['23'] = 'Peter Jackson'
# "+"

In [298]:
data = pd.read_csv('movie_bd_v5.csv')
data['director'] = data['director'].apply(lambda x:x.split('|'))
data.release_date = data.release_date.apply(lambda x: x.split('/'))
data['month']=data['release_date'].apply(lambda x: x[0])
pivot = data.loc[data['month'].isin(['12','1','2'])]
pivot['director'].value_counts().index[0]

['Peter Jackson']

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [299]:
answers['24'] = 'Four By Two Productions'
# "+"

In [300]:
data['name_length'] = data.original_title.apply(lambda x: len(x))
data['production_companies_list'] = data.production_companies.str.split("|")
production_companies = data.explode('production_companies_list')
production_companies.groupby('production_companies_list').name_length.mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [301]:
answers['25'] = 'Midnight Picture Show'
# "+"

In [302]:
data['overview_length'] = data.overview.apply(lambda x: len(x))
data['production_companies_list'] = data.production_companies.str.split("|")
production_companies = data.explode('production_companies_list')
production_companies.groupby('production_companies_list').overview_length.mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [303]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# "+"

In [304]:
data = pd.read_csv('movie_bd_v5.csv')
best_movies = data.sort_values('vote_average').tail(int(data.original_title.count()/100)).original_title
display(best_movies)

155                          The Theory of Everything
863             The Lord of the Rings: The Two Towers
1688                              There Will Be Blood
283                                        Mr. Nobody
1191                                 12 Years a Slave
872                                       The Pianist
128                                         Gone Girl
1800                                          Memento
119                           Guardians of the Galaxy
370                                         Inception
1183                          The Wolf of Wall Street
138                          The Grand Budapest Hotel
1081    The Lord of the Rings: The Return of the King
34                                               Room
118                                      Interstellar
9                                          Inside Out
125                                The Imitation Game
599                                   The Dark Knight
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [308]:
answers['27'] = "Daniel Radcliffe', 'Rupert Grint'"
# "+"

In [309]:
data=pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].str.split('|')
data2=data['cast'].reset_index()
data2['pairs'] = data2['cast'].apply(lambda s: list(itertools.combinations(s, 2)))
data2 = data2.explode('pairs').reset_index()
collections.Counter(data2['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [310]:
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110 min',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth ',
 '16': 'Tom Cruise',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': "Daniel Radcliffe', 'Rupert Grint'"}

In [311]:
len(answers)

27